#btn{
 position:fixed;
 bottom:20px;
 left:20px;
 z-index:999;
  width:60px;
  height:60px;
  background-color: rgba(0, 0, 0, 0.4);
}

#btn img{
  width:40px;
  height:40px;
  padding: 10px;
}

.a-enter-vr-button {
  width:60px;
  height:60px;
  padding: 10px;
}
#FadeLayer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0.0;
    z-index: 1;
    background-color: #000000;
  pointer-events: none;
}
#fix-box {
    position: absolute;
    top: 42vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.top-alert {
    position: fixed;
    top: -10vh;
    left: 0;
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
    background-color: #20108f;
    opacity: 0.7;
    color: white;
    z-index: 2;
    text-align: center;
}
.top-alert-popup{
  top:0vh;
}
#nonFadeText {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 540px;
    height: 80px;
    text-align: center;
    z-index: 2;
    font-size: 25px;
    pointer-events: none;
}
#url-box {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 27vw;
    height: 7vh;
}
#url-box-input {
    font-size: 15px;
    width: 23vw;
    height: 7vh;
    top: 0;
    background-color: white;
    left: 0;
    position: absolute;
    z-index: 2;
    padding-left: 1vw;
    border: 0;
    border-radius: 10pt;
    opacity:0.0;
}
#url-box-icon {
    position: absolute;
    display: inline-block;
    top: 1.2vh;
    right: 3.5vw;
    width: 1.5vw;
    height: 1.5vw;
    index: 2;
    z-index: 3;
    color: black;
    opacity:0.0;
}