
#btn{
 position:fixed;
 bottom:20px;
 left:20px;
 z-index:999;
  width:60px;
  height:60px;
  background-color: rgba(0, 0, 0, 0.4);
}

#btn img{
  width:40px;
  height:40px;
  padding: 10px;
}

.a-enter-vr-button {
  width:60px;
  height:60px;
  padding: 10px;
}

